<img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoibXJjaHJpc3RvcGhlcndpbGxpYW1zIiwiYSI6ImNrMmc2bXNzNjA3eWwzbnBmaGFnbGlscjQifQ.9-imNOdeGM6Hiet8FhEswQ'>
<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card bg-light">
        <h1><%= @flat.name %></h1>
        <p class="flat-show-address"><%= @flat.address %></p>
      </div>
      <div class="flat-show-card bg-light">
        <h3><%= @flat.description %></h3>
        <p></p>
        <div class="map" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=Top of the world&amp;zoom=13&amp;scale=2&amp;size=1000x1000&amp;maptype=roadmap&amp;markers=color:red%7CTop of the world&amp;key=AIzaSyBtaHK-BLhBg7TruJu8iKk_wETqZMJM-GY')"></div>
      </div>
    </div>

    <div class="col-4">
      <div class="flat-show-card bg-light">
        <h5>Book this place!</h5>

        <form action="">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">From:</span>
            <input type="text" class="form-control" placeholder="12/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-addon" id="basic-addon1">To:</span>
            <input type="text" class="form-control" placeholder="18/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
        </form>
      </div>
      <div class="flat-show-card bg-light">
        <h3>Details</h3>
        <div class="d-flex flex-row font-weight-bold">
          <div class="flex">
            <i class="fas fa-user-friends mr-2"></i><span><%= @flat.number_of_guests %></span>
          </div>
          <div class="flex ml-3">
            <i class="fas fa-euro-sign mr-2"></i><%= @flat.price_per_night %>
          </div>
        </div>
      </div>
      <div class="flat-show-card bg-light">
        <div class="flex-align align-content-center">
          <h6 class="no-mb">Share</h6>
          <div class="flex">
            <i class="fab fa-facebook-square fa-2x mr-2"></i>
            <i class="fab fa-twitter-square fa-2x mr-2"></i>
            <i class="fab fa-pinterest-square fa-2x mr-2"></i>
            <i class="fas fa-envelope-square fa-2x mr-2"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
